* {
    font-family: "Azeret Mono", monospace;
    @import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
}

nav {
    display: flex;
    justify-content: space-around;
    margin: 25px 50px;
}

nav ul li {
    list-style: none;
}

.btn-style {
    padding: 10px;
    text-decoration: none;
    color: #0D1321;
    border: 1px solid #0D1321;
    border-radius: 8px;
}

.banners {
    background-image: url("../assets/Hero-bg.png");
    background-repeat: no-repeat;
    width: 100%;
    height: 90vh;
}
.banners-content{
    text-align: center;
}

.banners-content h1{
    font-weight: 900;
    font-size: 48px;

}
.banners-content p{
    font-weight: 400;
    font-size: 16px;
}
.btn-primary{
    padding: 10px;
    border-radius: 8px;
    background-color: #0D1321;
    color: #FFFFFF;
}
.about{
    margin: 50px 100px;
    padding: 10px 50px;
}
.text-center{
    text-align: center;
}
.containers{
    width: 100%;
}
.container-1{
    display: flex;
    justify-content: space-between;
}
.container-part-1{
    width: 460px;
}
.container-p{
    margin-bottom: 20px;
}
.btn-learn-more{
    padding: 5px 10px;
    background-color: #FFFFFF;
    color: #0D1321;
    border: 1px solid #0D1321;
    text-decoration: none;
}
.conteiner-center{
    margin: 50px 100px;
    padding: 10px 50px;
}
.video{
    display: flex;
    justify-content: center;
}
.yt-video{
    width: max-content;
    padding: 10px;
    border: 2px solid #0D1321;
    border-radius: 20px;
    background-color: #FFFFFF;
}
.cards{
    display: flex;
    justify-content: space-around;
}
.card{
    width: 25%;
    border-radius: 20px;
    padding: 20px;
}
.card a{
    color: #0D1321;
    font-weight: bold;
}
.card-1{
    background-color: #ff4b1e49;
}
.card-2{
    background-color: #004de863;
}
.card-3{
    background-color: #ffdd0073;
}
.need-support{
    display: flex;
    justify-content: center;
    height: 200px;
}
.need-support-background{
    width: max-content;
    padding: 10px 20px;
    background-image: url("../assets/handshake.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    border-radius: 20px;
    color: #FFFFFF;
}
.need-support-background .search{
    display: flex;
    justify-content: center;
    gap: 5px;
}
.search input[type=text]{
    height: 30px;
    width: 340px;
    padding: 0 5px;
    font-size: 14px;
    border-radius: 20px;
}
.search input[type=submit]{
    width: 100px;
    border-radius: 10px;
    background-color: #FFFFFF;
}
